DigViewer.xcodeproj/project.xcworkspace/
DigViewer.xcodeproj/xcuserdata/
DigViewerRemote.xcodeproj/project.xcworkspace/
DigViewerRemote.xcodeproj/xcuserdata/
DigViewer.xcworkspace/xcuserdata/
*~
*~.qtz
.DigViewer.preferences
