OSX/DigViewer.xcodeproj/project.xcworkspace/
OSX/DigViewer.xcodeproj/xcuserdata/
iOS/DigViewerRemote.xcodeproj/project.xcworkspace/
iOS/DigViewerRemote.xcodeproj/xcuserdata/
DigViewer.xcworkspace/xcuserdata/
*~
*~.qtz
.DigViewer.preferences
