---
---

@import "{{ site.theme }}";

body {
    font-family: 
        "Helvetica Neue", Arial, sans-serif;
}

main {
    font-weight: 300;
}

.page-header {
    @include large {
        padding: 2.1rem 0rem;
        padding-bottom: 0;
    }

    @include medium {
        padding: 1.2em 0rem;
        padding-bottom: 0;
    }

    @include small {
        padding: 1.2rem 0rem;
        padding-bottom: 0;
    }
}

.banner {
    background-color: white;
    margin-top: 2.5em;
    padding-bottom: 0.01em;

    @include medium {
        margin-top: 1.5em;
    }

    @include small {
        margin-top: 1.2em;
    }

    h1 {
        padding-top: 0.5em;
        //color: #159957;
        color: #404040;
        font-weight: 150;
        font-size: 6vw;

        @include small {
            font-size: 8.5vw;
        }
    }

    img {
        max-width: 95%;

        @include large {
            max-width: 90%;
        }
    }
}
.storebtn {
    display: inline-block;
    margin-left: 1rem;

    img {
        height: 3.75rem;
        vertical-align: -1.5rem;
    }

    @include medium {
        img{
            height: 3.05rem;
            vertical-Align: -1.2rem;
        }
    }

    @include small {
        margin-left: 0rem;

        img {
            height: 2.6rem;
            vertical-Align: -0.97rem;
        }
    }
}

.btn {
    border-radius: 0.5rem;

    @include large {
        padding-top: 1em;
        padding-bottom: 1em;
        margin-bottom: 0;

        img {
            height: 3.2em;
            margin-top: -1.15em;
            margin-bottom: -1.25em;
            margin-right: 0.2em;
        }
    }

    @include medium {
        padding-top: 0.85em;
        padding-bottom: 0.85em;
        margin-bottom: 0;

        img {
            height: 2.9em;
            margin-top: -1.35em;
            margin-bottom: -1.05em;
            margin-right: 0.2em;
        }
    }

    @include small {
        display: block;
        width: 13em;
        margin-right: auto;
        margin-left: auto;
        padding: 0.6em 0.9em;
        font-size: 0.9em;

        img {
            height: 2.3em;
            margin-top: -1.35em;
            margin-bottom: -0.785em;
            margin-right: 0.2em;
        }

        + .btn{
            margin-left: auto;
        }
    }
}

.project-tagline {
    font-weight: 300;

    @include large {
        margin-top: 0.3em;
        margin-bottom: 1em;    }

    @include medium {
        margin-top: 0.8em;
        margin-bottom: 0.8em;
    }

    @include small {
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }
}

#product-title {
    font-weight: 100;
    
    @include large {
        font-size: 5.8em;
        margin-top: -0.2em;
    }

    @include medium {
        font-size: 4.5em;
        margin-top: -0.1em;
    }

    @include small {
        font-size: 3.2em;
        margin-top: -0.1em;
    }
}

.titlelogo {
    height: 1.2em;
    margin-top: -0.4em;
    margin-bottom: -0.31em;
}

.app-store-link{
    font-size: 7em;
    margin: 0;
    margin-bottom: -0.35em;
    padding: 0;

    img {
        height: 1em;
    }
}

.storebtn-general {
    display: inline-block;
    margin-left: 0em;

    img {
        height: 0.5em;
        vertical-align:0.25em;
    }

    @include small {
        img {
            height: 0.35em;
            vertical-Align: 0.31em;
        }
    }
}

.movie {
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 560/315;
    width: 560px;
    max-width: 95%;
    iframe {
        width: 100%;
        height: 100%;
    }
}

pre {
    &:has(> .language-mermaid) {
        border: 0;
        background-color: white;
    }
}

.language-mermaid {
    svg{
        display:block;
        margin-left: auto;
        margin-right: auto;
    }
}
